<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      Your account has been removed from the website due to inapprioriate behaviour<br>
    </p>
  
    <p>Thanks for your understanding and have a great day!</p>
  </body>
</html>